<div><strong>Name:</strong> {{ mitglied.vorname }} {{ mitglied.nachname }}</div>
<div><strong>E-Mail-Adresse:</strong> <a href="mailto:{{ mitglied.email }}">{{ mitglied.email }}</a></div>
<div><strong>Handynummer:</strong> {{ mitglied.handynummer }}</div>